.offcanvas-bottom {
    left: 50%;
    transform: translate(-50%, 100%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.show {
    transform: translate(-50%, 0);
}
.offcanvas-header {
    padding: .5rem 1rem;
}
.offcanvas-header h5 {
    font-family: "Palemonas";
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1rem;
}
hr {
    margin: 0;
}
.info-icon {
    background-color: #2d2d2d;
    color: #fff;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}