<ng-container *ngFor="let subtext of note_text?.childNodes" [ngSwitch]="true">
    <ng-container *ngSwitchCase="subtext.tagName === 'item'">
        <p class="note" id="{{ findAttributeValue(subtext.attributes, 'xml:id') }}"
            *ngIf="findAttributeValue(subtext.attributes, 'xml:id') === note_id">
            <app-note-text [note_text]="subtext">
            </app-note-text>
        </p>
    </ng-container>
    <ng-container
        *ngSwitchCase="subtext.tagName === 'hi' && isSubset([{name: 'rend', value: 'italic'}], subtext.attributes)">
        <i>
            <app-note-text [note_text]="subtext">
            </app-note-text>
        </i>
    </ng-container>
    <ng-container
        *ngSwitchCase="subtext.tagName === 'hi' && isSubset([{name: 'rend', value: 'bold'}], subtext.attributes)">
        <b>
            <app-note-text [note_text]="subtext">
            </app-note-text>
        </b>
    </ng-container>
    <ng-container
        *ngSwitchCase="subtext.tagName === 'hi' && isSubset([{name: 'rend', value: 'quote'}], subtext.attributes)">
        <span>
            «<app-note-text [note_text]="subtext">
            </app-note-text>»
        </span>
    </ng-container>
    <span class="{{subtext.tagName}}" *ngSwitchDefault>{{subtext.text}}<app-note-text [note_text]="subtext">
        </app-note-text>
    </span>
</ng-container>