<app-header></app-header>
<div class="d-flex p-3 container-fluid justify-content-center flex-wrap">
    <section class="d-flex flex-column align-items-center col-xl-5 col-md-6 col-6">
        <h3 class="py-5" #scrollStart>Testo</h3>
        <app-main-text [main_text]="commedy_text" [settings]="settings"></app-main-text>
    </section>
    <section class="paraphrase-text d-flex flex-column align-items-center col-xl-5 col-md-6 col-6" appAlign [paraphraseActive]="settings.showParaphrase"
        [scrolltrigger]="scrolltrigger" [ngClass]="{ 'active': this.settings.showParaphrase }" #paraphrColumn>
        <h3 class="py-5">Parafrasi</h3>
        <app-main-text [main_text]="paraphrase_text"></app-main-text>
    </section>
</div>
<app-note-container [notes]="notes"></app-note-container>
<app-navigation></app-navigation>