<ng-container *ngFor="let subtext of main_text?.childNodes" [ngSwitch]="subtext.tagName">
    <ng-container *ngSwitchCase="'div'">
        <div id="{{ findAttributeValue(subtext.attributes, 'xml:id') }}"
            class="{{ findAttributeValue(subtext.attributes, 'rend') }}"
            attr.data-terzina="{{ findAttributeValue(subtext.attributes, 'corresp') }}"
            *ngIf="isSubset([{name: 'rend', value: 'paraphrase-terzina'}], subtext.attributes)" #paraphrFragm>
            <app-main-text *ngIf="!subtext.isText" [main_text]="subtext" [settings]="settings">
            </app-main-text>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'p'">
        <p class="{{ findAttributeValue(subtext.attributes, 'rend')  }} }}"
            *ngIf="isSubset([{name: 'rend', value: 'terzina-paraphrase'}], subtext.attributes)">
            <app-main-text *ngIf="!subtext.isText" [main_text]="subtext" [settings]="settings">
            </app-main-text>
        </p>
    </ng-container>
    <ng-container *ngSwitchCase="'lb'">
        <br />
    </ng-container>
    <ng-container *ngSwitchCase="'lg'">
        <div id="{{ findAttributeValue(subtext.attributes, 'xml:id') }}"
            class="{{ findAttributeValue(subtext.attributes, 'type') }}" [ngClass]="{ 'paraphraseActive': this.settings.showParaphrase }"
            *ngIf="isSubset([{name: 'type', value: 'terzina'}], subtext.attributes)" appAlign [scrollRef]="scrollRef" [paraphrColumnRef]="paraphrColumnRef">
            <p class="inner">
                <app-main-text *ngIf="!subtext.isText" [main_text]="subtext" [settings]="settings">
                </app-main-text>
            </p>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'l'">
        <p class="{{ findAttributeValue(subtext.attributes, 'rend') }}"
            *ngIf="isSubset([{name: 'rend', value: 'endecasillabo'}], subtext.attributes)">
            <app-main-text *ngIf="!subtext.isText" [main_text]="subtext" [settings]="settings">
            </app-main-text>
        </p>
    </ng-container>
    <ng-container *ngSwitchCase="'caesura'">
        <span *ngIf="this.settings.showMetric">|</span>
    </ng-container>
    <ng-container *ngSwitchCase="'hi'">
        <span class="{{ findAttributeValue(subtext.attributes, 'rend') }}"
            *ngIf="this.settings.showMetric && (isSubset([{name: 'rend', value: 'sinalefe'}], subtext.attributes)||isSubset([{name: 'rend', value: 'sineresi'}], subtext.attributes))"
            placement="top" ngbTooltip="{{ findAttributeValue(subtext.attributes, 'rend') }}">
            <app-main-text *ngIf="!subtext.isText" [main_text]="subtext" [settings]="settings">
            </app-main-text>
        </span>
    </ng-container>
    <span *ngSwitchCase="'choice'">
        <app-main-text *ngIf="!subtext.isText" [main_text]="subtext" [settings]="settings">
        </app-main-text>
    </span>
    <ng-container *ngSwitchCase="'seg'">
        <span *ngIf="!this.settings.showMetric && isSubset([{name: 'rend', value: 'regular'}], subtext.attributes)">
            <app-main-text *ngIf="!subtext.isText" [main_text]="subtext" [settings]="settings">
            </app-main-text>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="'seg'">
        <span class="{{ findAttributeValue(subtext.attributes, 'rend') }}"
            *ngIf="this.settings.showMetric && isSubset([{name: 'function', value: 'metric'}], subtext.attributes)">
            <app-main-text *ngIf="!subtext.isText" [main_text]="subtext" [settings]="settings">
            </app-main-text>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="'span'">
        <span class="{{ findAttributeValue(subtext.attributes, 'rend') }}"
            *ngIf="isSubset([{name: 'rend', value: 'paraphrase-fragment'}], subtext.attributes)">
            <app-main-text *ngIf="!subtext.isText" [main_text]="subtext" [settings]="settings">
            </app-main-text>
        </span>
    </ng-container>
    <ng-container *ngSwitchCase="'note'">
        <a class="{{ findAttributeValue(subtext.attributes, 'type') }}"
            href="{{ findAttributeValue(subtext.attributes, 'corresp') }}"
            *ngIf="this.settings.showNotes && isSubset([{name: 'type', value: 'note'}], subtext.attributes)"
            (click)="showNote(findAttributeValue(subtext.attributes, 'corresp'))" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
            <sup>[{{findAttributeValue(subtext.attributes, 'n') }}]</sup>
        </a>
    </ng-container>
    <span *ngSwitchDefault>{{subtext.text}}<app-main-text *ngIf="!subtext.isText" [main_text]="subtext">
        </app-main-text>
    </span>
</ng-container>