div.terzina {
    padding-bottom: 2.5rem;
    margin-top: -1px;
}

p.endecasillabo {
    margin-bottom: .3rem;
    font-size: 1.3rem;
    position: relative;
    font-family: 'Palemonas';
}

p.endecasillabo span.line-number {
    position: absolute;
    transform: translateX(-2.5rem);
}

.primary-accent {
    border-bottom: 1px solid red;
}

.secondary-accent {
    border-bottom: 1px solid rgb(0, 255, 42);
}

.sinalefe,
.sineresi {
    font-weight: 600;
}

.note {
    text-decoration: none;
}

/** PARAPHRASE **/

p.terzina-paraphrase {
    font-size: 1.3rem;
    font-family: 'Palemonas';
}
p.terzina-paraphrase span.paraphrase-fragment {
    margin-bottom: .3rem;
    display: inline-block;
}

.inner {
    position: relative;
}

.focused p.inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    width: 4px;
    height: 100%;
    background-color: rgb(1, 209, 1);

}