<ng-container *ngFor="let terzina of main_text?.childNodes">
    <span *appShowConditionally="this.settings[findRule(terzina)?.condition || 'noCondition']">
        <span appTransform [data]="terzina"
            *appShowConditionally="this.settings[findRule(terzina)?.condition || 'noCondition']"
            [rule]="findRule(terzina)">
            {{ terzina.text }}
            <app-main-text [main_text]="terzina" [rule]="findRule(terzina)">
            </app-main-text>
        </span>
    </span>
</ng-container>