<app-header></app-header>
<div class="d-flex p-3 container-fluid justify-content-center">
    <section class="d-flex flex-column align-items-center" [ngClass]="{'hidden': this.settings.showParaphrase}">
        <h3 class="py-5" #scrollStart>Testo</h3>
        <app-comedy-text [main_text]="comedy_text" [settings]="settings"></app-comedy-text>
    </section>
    <section class="paraphrase-text d-flex flex-column align-items-center" [ngClass]="{'active': this.settings.showParaphrase}" #paraphrColumn>
        <h3 class="py-5">Parafrasi</h3>
        <app-paraphrase-text [main_text]="paraphrase_text"></app-paraphrase-text>
    </section>
</div>
<nav class="nav" [ngClass]="{'start': this.navigation?.prev && !this.navigation?.next}" [ngClass]="{'end': !this.navigation?.prev && this.navigation?.next}"><button [routerLink]="'/'+this.getCantica(this.navigation?.prev)+'/'+this.getCanto(this.navigation?.prev)" *ngIf="this.navigation?.prev">Back</button><button [routerLink]="'/'+this.getCantica(this.navigation?.next)+'/'+this.getCanto(this.navigation?.next)" *ngIf="this.navigation?.next">Next</button></nav>
<app-note-container [notes]="notes"></app-note-container>
