<aside class="settings">
    <div class="button">
        <h2 *ngIf="controlActive">Settings</h2>
        <button type="button" class="settings-icon" (click)="controlActive = !controlActive">
            <fa-icon *ngIf="!controlActive; else bookOpen"  class="book-icon" [icon]="faBook"></fa-icon>
            <ng-template #bookOpen>
                <fa-icon class="book-open-icon" [icon]="faBookOpen"></fa-icon>
            </ng-template>
        </button>
    </div>
    <div class="control-panel" *ngIf="controlActive">
        <div class="switch">
            <label for="paraphrase">Parafrasi</label>
            <input id="paraphrase" type="checkbox" class="toggle-switch" [checked]="this.settings.showParaphrase" (change)="paraphraseHandler()"/>
        </div>
        <div class="switch">
            <label for="metric">Metrica</label>
            <input id="metric" type="checkbox" class="toggle-switch"/>
        </div>
        <div class="switch">
            <label for="notes">Note</label>
            <input id="notes" type="checkbox" class="toggle-switch"/>
        </div>
    </div>
</aside>
